#**THEORY QUESTIONS**
# 1. **What is data structure ? and why is it important ?**
-  Data structure is a way of organizing and storing data so tht it can be accessed and manipulate easily .
##    list are of six types as follows >>
-  **strings**
-  **lists**
-  **Set**
-  **Tuples**
-  **Dictionary**
-  **Array**
## Uses of data structure are >>
- 1.Organizing data
- 2.Storing data


# 2. **Explain the difference between mutable and immutable data types with examples**.
-  Objects whose states or value can be changed after they are created are mutable objects.
 Example >> Lists , dictionary , sets , array.
-  Objects whose states or value cannot be changed after they are created are mutable objects.
 Example >> tuples ,Strings.


# 3.  **What are the main differences between lists and tuples in Python?**
-  The main difference between Lists and Tuples is that lists are mutable and tuples are immutable .


# 4. **Describe how dictionaries store data.**
-  Dictionaries store data in the form of key value pairs.
 Examples >> {"dad":1234567890 , "mom":0987654321}


# 5.**Why might you use a sets instead of a list in Python?**
-  In case of creating a data to get a unique elements we can use sets as they are unordered collections of unique elemets whereas lists are an ordered collection of element that can be of any data .


# 6.**What is a string in Python, and how is it different from a list?**
- Strings are sequeence of character that represents and manipulate textual data whereas lists are collection of element that can be of any data and most importantly lists are mutable but strings are immutable .


# 7. **How do tuples ensure data integrity in Python?**
- Tuples in Python are a powerful tool for ensuring data integrity due to their immutable nature. Here’s how they contribute to maintaining data integrity:

1. Immutability
2. Hashability
3. Predictable Behavior
4. Data Integrity in Collections


# 8. **What is a hash table, and how does it relate to dictionaries in Python?**
- A hash table is a data structure that maps keys to values using a hash function. This function computes an index into an array of buckets or slots, from which the desired value can be found. The primary advantage of hash tables is their efficiency in performing lookups, insertions, and deletions.


# 9. **Can lists contain different data types in Python?**
- yes lists can store hetreogenous data it means it can store anything .


# 10. **Explain why strings are immutable in Python.**
- Strings in Python are “immutable” which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc.

- The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.


# 11. **What advantages do dictionaries offer over lists for certain tasks?**
- Dictionaries excel at tasks requiring fast lookups and storing data as key-value pairs, while lists are better when maintaining order and performing sequential operations.


#12. **Describe a scenario where using a tuple would be preferable over a list.**
-Tuples are also more memory efficient than the lists. When it comes to time efficiency, tuples have a slight advantage over lists especially when we consider lookup value. If you have data that shouldn't change, you should choose tuple data type over lists.


#13. **How do sets handle duplicate values in Python.**
- Sets remove the duplicate value .Python sets cannot have duplicate values. While you cannot modify the individual elements directly, you can still add or remove elements from the set. Output: The first code explains that the set cannot have a duplicate value.


#14. **How does the “in” keyword work differently for lists and dictionaries.**
- The in and not in operator works on dictionaries; it tells you whether something appears or not as a key in the dictionary. It returns two values True or False.

The in operator uses different algorithms for lists and dictionaries. For lists, it uses a search algorithm. As the list gets longer, the search time gets longer in direct
proportion. For dictionaries, Python uses an algorithm called a hashtable that has a remarkable property: the in operator takes about the same amount of time no matter how many items there are in a dictionary.


#15. **Can you modify the elements of a tuple? Explain why or why not.**
- No, you cannot directly modify the elements of a tuple in Python because tuples are immutable, meaning their contents cannot be changed after creation.

#16. **What is a nested dictionary, and give an example of its use case.**
- A nested dictionary in Python is a dictionary where the values are themselves dictionaries, allowing for hierarchical data organization. A common use case is representing structured data like employee records or JSON data.


#17. **Describe the time complexity of accessing elements in a dictionary.**
- Accessing elements in a dictionary (or hash map) by key has an average time complexity of O(1), meaning it takes constant time, regardless of the dictionary's size.


#18. **In what situations are lists preferred over dictionaries.**
- f you need an ordered collection, like a sequence of user actions, lists are your go-to. On the other hand, when you need quick look-ups, like mapping usernames to user data, dictionaries are invaluable.


#19. **Why are dictionaries considered unordered, and how does that affect data retrieval.**
- Dictionaries are considered unordered because they are designed for fast key-based lookup rather than maintaining the order of elements as they are added. This means that while you can iterate through a dictionary, the order of the key-value pairs might not be consistent with the order in which they were inserted.


#20. **Explain the difference between a list and a dictionary in terms of data retrieval.**
- A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

# **PRACTICAL QUESTIONS**

In [32]:
#1.Write a code to create a string with your name and print it.
Name = "Muskan_singh_rajput"

In [33]:
 #2. Write a code to find the length of the string "Hello World".
 a = "Hello World"
 len(a)

11

In [34]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"?
a = "Python Programming"
a[0:3]

'Pyt'

In [35]:
#4. Write a code to convert the string "hello" to uppercase.
a = "hello"
a.capitalize()

'Hello'

In [36]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
a = "I like apple"
a.replace("apple","orange")

'I like orange'

In [37]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [38]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
a = [1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [39]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
a =  [1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [40]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
a =  ['a', 'b', 'c', 'd']
a[1]

'b'

In [41]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
a =[10 , 20 , 30 , 40 ,50]
a[::-1]

[50, 40, 30, 20, 10]

In [42]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
a = (100 ,200, 300)
print(a)

(100, 200, 300)

In [43]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
a =  ('red', 'green', 'blue', 'yellow')
a[1:]

('green', 'blue', 'yellow')

In [44]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
a =  (10, 20, 5, 15)
min(a)

5

In [45]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a =  ('dog', 'cat', 'rabbit')
a.index("cat")

1

In [46]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
a = ("apple" , "kiwi" ,"mango")
"kiwi" in a

True

In [47]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
a = {"a" , "b", "c"}
print(a)

{'b', 'c', 'a'}

In [48]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
a = {1, 2 ,3 ,4 ,5 }
a.clear()
a

set()

In [49]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a = {1, 2, 3, 4}
a.remove(4)
a

{1, 2, 3}

In [4]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1,2,3}
b = {3,4,5}
a | b

{1, 2, 3, 4, 5}

In [6]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1,2,3}
b = {2,3,4}
a & b

{2, 3}

In [8]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d = {"name" : "muskan" , "age": "19" , "city":"delhi"}
print(d)

{'name': 'muskan', 'age': '19', 'city': 'delhi'}

In [12]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d =  {'name': 'John', 'age': 25}
d["country"] = "USA"
d

{'name': 'John', 'age': 25, 'country': 'USA'}

In [14]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d =  {'name': 'Alice', 'age': 30}
d ['name']

'Alice'

In [17]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [18]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
"city" in d

True

In [22]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
a = [ "muskan" , "divya" , 1 , 2.1 , True]
b = ("muskan" , "divya" , "meenakshi")
c = {"name" : "muskan"}
print(a)
print(b)
print(c)

['muskan', 'divya', 1, 2.1, True]
('muskan', 'divya', 'meenakshi')
{'name': 'muskan'}

In [23]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result .
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[38, 39, 43, 70, 78]

In [26]:
#28. Write a code to create a list with strings and print the element at the third index.
list = ["a" , "b" , "c" , "d" , "e"]
list[3]

'd'

In [27]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merged_dict = dict1.copy()
merged_dict.update(dict2)

print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
#30. Write a code to convert a list of strings into a set.
m = set(list)
print(list)
print(m)
print(type(m))

['a', 'b', 'c', 'd', 'e']
{'e', 'c', 'b', 'd', 'a'}
<class 'set'>

#*THANK YOU*  :) :)